/**********************************************************
* Author: Sarah Monks
* 
* CSS styling for the home view, i.e map and directions
*
***********************************************************/
#map_area{
position: relative;

}
#map, #map_error {
margin: 0px auto;
height: 500px;

width:90%;
}
#map_error {
position: absolute;
top: 0px;
left: 5%;
height: 500px;
width: 90%;

background: #c1c5cc;
}
#map_error_text{

position: relative;
text-align: center;
padding-top: 30px;
font-size: 1.1rem;
font-weight: bold;
}

#refresh_map_button{
	position: relative;
	margin: 10px auto;
width: 32px;
height: 32px;

cursor: pointer;
}
#refresh_map_button .fa-refresh{

font-size: 30px;

}

.hide_map {
height: 0px;
opacity: 0;
}


#bottom_panel{
position: absolute;
top: 80%;
left: 0px;
z-index: 50;
width: 96%;
padding: 5px 2%;
height: 100%;
overflow: auto;
background: #fff;
-webkit-transition: .6s; /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
-moz-transition: .6s;
-o-transition: .6s;
transition: .6s;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
#header_of_bottom_panel{
position: absolute;
height: 20px;
width: 100%;
top: 75%;
left: 0px;
z-index: 35;
background: red;
-webkit-transition: .6s; /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
-moz-transition: .6s;
-o-transition: .6s;
transition: .6s;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */

}

.show_bottom_panel_button{
height: 10px !important;

}

.swipe_up{
-webkit-transform: translateY(-50%); 
-moz-transform: translateY(-50%);  
-o-transform: translateY(-50%);  
transform: translateY(-50%);
}

#directions_form_area{
position: relative;

}

.info_window_button{
-webkit-appearance: none !important;
display: block;
outline: 0; 		/*override the default button outline*/
border: 0;  		/*override the default button border*/
padding: 5px 10px !important;
margin: 10px 0px !important;
border: 1px solid #000;
cursor: pointer;

}

#directions_panel{
position: relative;
background: #fff;
width: 96%;
padding: 5px 1% 10px 1%;
margin: 15px auto 10px auto;
border: 1px solid #cccccc;	
z-index: 3;
overflow: hidden;

}

#directions_panel i {
font-size: 22px;
}

.adp-substep{
margin-right: 10px !important;
padding-right: 2% !important;
}


#select_start_location, #select_destination{
width:100%;  
margin: 0px 0px 7px 0px;  
position: relative;  
overflow: hidden;
}

#select_start_location select, #select_destination select{
width:98%;
max-width: 100%;
font-family: 'Raleway', sans-serif !important;
font-size: .9rem;
letter-spacing: .6px;
padding: 4px 1%;
border: 0;
outline: 0;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
height: 34px;
border: 1px solid #ccc;
}
#select_start_location option{

height: 34px;
}

/* Hide the little man icon on the google map because we dont want the user pressing it 
 * as this functionality doesnt work very well on the phonegap app
 */
.gm-svpc{
	display: none;
}

/* Hide the fullscreen button on the google map because if this is pressed
 * it opens a new tab and the user will be unable to navigate back to the app when
 * packaged with phonegap
 */
button[title *= "Toggle fullscreen" ]{
	display: none;
}
