/**********************************************************
* Author: Sarah Monks
* 
* CSS styling for the map 
*
***********************************************************/
#map_area{
position: relative;

margin: 0px auto;
}

#map{
position: relative;
margin: 0px auto;
height: 430px;
z-index: 7;
width:96%;

}

#map_error, #map_is_loading{
position: absolute;
top: 0px;
left: 2%;
height: 430px;
width: 96%;
background: #c1c5cc;
}

#map_error{
z-index: 8;	
}
#map_is_loading{
z-index: 6;
}

#map_is_loading .fa-spinner, #map_is_loading .fa-circle-o-notch{
   font-size: 30px; 
}
.map_area_text{
position: relative;
text-align: center;
padding-top: 80px;
font-size: 1.1rem;
font-weight: bold;
}

#refresh_map_button{
position: relative;
margin: 10px auto;
width: 32px;
height: 32px;
cursor: pointer;
}

#refresh_map_button .fa-refresh{
font-size: 30px;
}

.info_window_button_area{
padding-top: 10px;
max-width: 170px;

}
.info_window_button{
max-width: 100%;
display: block;
margin: 10px 0px !important;
cursor: pointer;
border: 0px solid #747474 !important;
min-height: auto;
font-size: .9rem;
text-align: left !important;
overflow: hidden;

}
/*styling for the icons that appear in the side panel menu list*/
.info_window_button_icon{
	display: block;
	float:left;
	width: 20px;
text-align: left !important;
font-size: 18px;
padding-right: 12px;

}

.info_window_button_icon .fa-info-circle{

font-size: 18px;
}

/*styling for icons of info_window buttons*/
.info_window_button_icon img{
width:16px;
}
.info_window_button_text{
	padding-top: 2px;
display: block;
	float:left;
}
.info_window .station_name{
font-size: 1.0rem !important;
}

