<!DOCTYPE html>
<html data-ng-app="mapModule" >
<head>
<meta charset="utf-8">
<!--specify user scalable as no, in order to mimick a native app-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<script src="http://maps.google.com/maps/api/js?key=AIzaSyAq3rgVX-gPP-1TWmUBER0f_E_tzGO_6Ng"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-touch.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/angular-sanitize.js"></script>
<script src="phonegap.js"></script>

<link rel="stylesheet" type="text/css" href="css/index.css"/>	
<link rel="stylesheet" type="text/css" href="css/header.css"/>	
<link rel="stylesheet" type="text/css" href="css/map.css"/>	
<link rel="stylesheet" type="text/css" href="css/station_and_reviews.css"/>	
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>	
<style>
#map {
margin: 0px auto;
height: 500px;
max-width: 400px;
width:90%;
}
</style>
</head>
<body data-ng-controller="mainController">
	<!--use the html5 header tag-->
	<header>

		<ul class="header_nav" data-ng-class="{'swipe_left': panelIsOpen == true}" data-ng-show="!detectLoginView()">
			<li class="header_menu_item" data-ng-click="goBack()">
				<span id="back_header_link" class="header_menu_link normal_link"><i class="fa fa-arrow-left"></i></span>
				
			</li>
        		<li class="header_menu_item navicon" data-ng-click="toggleSidePanel()">
				    <span class="header_menu_link" data-ng-class="{'current': panelIsOpen == true}">
					    <i class="fa fa-navicon"></i>
				    </span>
			    </li>  	  
       	</ul><!--/header_nav-->		
	</header>

	<div id="container_wrapper" class="scrollable" data-ng-class="{'swipe_left': panelIsOpen == true}" data-ng-swipe-left="(!detectHomeView() ? panelIsOpen = true : '')">
		<div class="container"> 
            <div id="login_info_area" data-ng-show="showUserProfileArea()">
			    <span class="user_profile_pic">
			        <img src="{{userDetails.profilePicURL}}" data-ng-class="{'profile_pic_size': checkIfLoggedIn() == true}" alt="">
			    </span> 
			    {{userDetails.facebookName}}
			</div>
			<div data-ng-view class="view" >

				<!--our individual views will be displayed here-->

			</div> 
	
		</div><!--/container-->
	</div><!--/container_wrapper-->

	<div id="bottom_panel" class="scrollable" data-ng-class="{'swipe_up': bottomPanelIsShowing == true}"  >
    <div id="header_of_bottom_panel">  
        <button type="button" class="show_bottom_panel_button review_area_button" data-ng-click="showGetDirectionsForm()">
            <i class="fa" data-ng-class="(bottomPanelIsShowing === false ? 'fa-caret-up': 'fa-caret-down')"></i>
        </button>
    </div>
    <div id="directions_form_area">

        <h4>Get Directions</h4>

	    <form data-ng-submit="submitGetDirectionsForm()" data-ng-model="directions_form" novalidate> 
			<div id="input_area">
				<div id="from" class="enter_start_location">
					<label>From: </label>
					<div class="fake_input_field" data-ng-show="startFromCurrentPosition === true">
				     	<span id="current_location_button"><span id="current_location_text">Current Location </span>
				     	    <span id="remove_current_location_button" data-ng-click="removeCurrentLocation()">
				     	     <i class="fa fa-times"></i>
				     	    </span>
				     	</span>
					</div>

					<input data-ng-show="startFromCurrentPosition === false" data-ng-model="directionsFormData.startLocation" type="text" value="" placeholder="Enter Start Location">
				</div>
						
				<div id="via">
					<label>Via: </label>
					<input data-ng-model="directionsFormData.viaPoint" type="text" value="" placeholder="Enter Via Point (Optional)">
				</div>

				<div id="travel_mode">
					<label>Travel mode:</label>
					<label>
					    <input data-ng-model="directionsFormData.travelMode" id="driving_input" type="radio" name="travelMode" value="DRIVING" checked/>
					    <span class="driving"><i class="fa fa-car"></i></span> Driving
					</label>

					<label>
					    <input data-ng-model="directionsFormData.travelMode" id="bicycle_input" type="radio" name="travelMode" value="BICYCLING"/>
						<span class="bicycle"><i class="fa fa-bicycle"></i></span> Bicycling
					</label>

					<label>
					    <input data-ng-model="directionsFormData.travelMode" id="public_input" type="radio" name="travelMode" value="TRANSIT"/>
						<span class="public"><i class="fa fa-bus"></i></span> Public transport
					</label>
					<label>
					    <input data-ng-model="directionsFormData.travelMode" id="walking_input" type="radio" name="travelMode" value="WALKING"/>
					    <span class="walking"><i class="fa fa-male"></i></span> Walking
					</label>
				</div>
			</div><!--End input_area-->
			<div class="form_divider">
	            <input class="btn btn_blue btn_float_right" type="submit" value="Submit" />
	        </div>
  	    </form>
    </div>
    <div id="directions_panel"></div>

    </div>
	<div id="panel_area" class="scrollable" data-ng-swipe-right="panelIsOpen = false">		
		<div class="panel_container">
			<div class="panel_header"><p>Menu</p></div>
			<ul>
				
					<!--when any link is clicked we want to slide the main container back over to main focus so we call the toggleSidePanel() function to achieve this-->
					<!--we also call the selectMenuItem() function so that we can style the new current nav item in the header of the app-->
			    <li class="side_menu_item">
					<a class="side_menu_link normal_link" href="#home" data-ng-click="toggleSidePanel();selectMenuItem($index)">
						<i class="panel_icon fa fa-home"></i>Home<i class="fa fa-chevron-right"></i>
					</a>
					
				</li>
				<li class="side_menu_item">
					<a class="side_menu_link normal_link" href="#login" data-ng-click="toggleSidePanel();selectMenuItem($index)">
						<i class="panel_icon fa fa-home"></i>Login<i class="fa fa-chevron-right"></i>
					</a>
					
				</li>
				 <li class="side_menu_item">
					<a class="side_menu_link" data-ng-click="goToExternalLink($event)" href="http://www.gamuzic.com">
						<i class="panel_icon fa fa-external-link"></i>Open our website<i class="fa fa-chevron-right"></i>
					</a>
					
				</li>
				<li class="side_menu_item" data-ng-show="checkIfLoggedIn()">
					<span class="side_menu_link normal_link" data-ng-click="toggleSidePanel();logOut()">
						<i class="panel_icon fa fa-power-off"></i>Log Out<i class="fa fa-chevron-right"></i>
					</span>
					
				</li>
			</ul>
		</div><!--/panel_container-->
	</div><!--/panel_area-->
<script>

//alert('scripts being called');
      document.addEventListener('pause', function () {
          //  alert('pause fired');
            
        }, false);
        document.addEventListener('resume', function () {
           // alert('resume fired');
            
        }, false);

 
</script>

<script src="modules/mapApp.js"></script>
<script src="routes/routes.js"></script>
<script src="factories/phonegapReadyFactory.js"></script>
<script src="factories/validatorFactory.js"></script>

<script src="factories/sharedFactory.js"></script>
<script src="factories/facebookFactory.js"></script>
<script src="factories/userFactory.js"></script>
<script src="factories/loginFactory.js"></script>
<script src="factories/reviewFactory.js"></script>
<script src="factories/stationFactory.js"></script>


<script src="factories/geolocationFactory.js"></script>
<script src="controllers/mainController.js"></script>
<script src="controllers/loginController.js"></script>
<script src="controllers/homeController.js"></script>
<script src="controllers/stationController.js"></script>


</body>
</html>