

	<div id="header_of_bottom_panel">
		    <span class="toggle_bottom_panel_button" data-ng-click="showGetDirectionsForm()">
                <i class="fa" data-ng-class="(bottomPanelIsShowing === false ? 'fa-caret-up': 'fa-caret-down')"></i>
            </span>
    </div>
    <div id="nav_menu_of_bottom_panel">
            <ul>
                <li data-ng-class="{'selected': bottomPanelData.selectedMenuItem == '0'}" data-ng-click="selectBottomPanelItem('0')">Filter form</li>
                <li data-ng-class="{'selected': bottomPanelData.selectedMenuItem == '1'}" data-ng-click="selectBottomPanelItem('1')">Directions</li>
                <li class="indicator_line" data-ng-class="{'move_to_right': bottomPanelData.selectedMenuItem == '1'}"></li>
            </ul>

    </div>


    <div class="body_of_bottom_panel">
	<div class="carousel_container scrollable" 
	    data-ng-class="{'move_container_to_left': bottomPanelData.selectedMenuItem == '1'}" 
	    data-ng-swipe-left="swipeBottomPanel('1')">

        <div class="inside_body_of_bottom_panel">

            <!--Only show the directions form area if the map was loaded successfully. -->
            <div id="directions_form_area" data-ng-show="mapLoadedSuccessfully">
            <h4>Please fill in the form to get directions</h4>

	        <form data-ng-submit="submitGetDirectionsForm()" data-ng-model="directions_form" name="directions_form" novalidate> 
			<div id="input_area">
				<div id="select_start_location_area" class="enter_start_location">
					<label>From: </label>
                    <div id="select_start_location">
                        <div class="spinner current_location_spinner" data-ng-show="currentLocationIsloading"><i class="fa fa-cog fa-spinning"></i></div>
					    <select data-ng-model="directionsFormData.selectedFromLocation" 
					    
					        data-ng-change="selectFromLocation(directionsFormData.selectedFromLocation)">

                            <option value="currentLocation" data-ng-selected="directionsFormData.selectedFromLocation === 'currentLocation'">Current location</option>
                            <option value="chooseLocation" data-ng-selected="directionsFormData.selectedFromLocation === 'chooseLocation'">Choose start location</option>

                        </select>
                    </div>
                    <div data-ng-show="directionsFormData.selectedFromLocation === 'chooseLocation'">
					    <input data-ng-model="directionsFormData.startLocation" type="text" value="" placeholder="Enter Start Location">
					    <div data-ng-show="directions_form.$submitted && directionsFormData.startLocation == null">
				            <p class="error_message">Please enter a start location</p>
					    </div>
					</div>
				</div>
						
				<div id="via">
					<label>Via: </label>
					<input data-ng-model="directionsFormData.viaPoint" type="text" value="" placeholder="Enter Via Point (Optional)">
				</div>

				<div id="travel_mode">
					<label>Travel mode:</label>
					<label class="radio_button_input">
					    <input data-ng-model="directionsFormData.travelMode" id="driving_input" type="radio" name="travelMode" value="DRIVING" checked/>
					    <span class="driving"><i class="fa fa-car"></i></span> Driving
					</label>

					<label class="radio_button_input">
					    <input data-ng-model="directionsFormData.travelMode" id="bicycle_input" type="radio" name="travelMode" value="BICYCLING"/>
						<span class="bicycle"><i class="fa fa-bicycle"></i></span> Bicycling
					</label>

					<label class="radio_button_input">
					    <input data-ng-model="directionsFormData.travelMode" id="public_input" type="radio" name="travelMode" value="TRANSIT"/>
						<span class="public"><i class="fa fa-bus"></i></span> Public transport
					</label>
					<label class="radio_button_input">
					    <input data-ng-model="directionsFormData.travelMode" id="walking_input" type="radio" name="travelMode" value="WALKING"/>
					    <span class="walking"><i class="fa fa-male"></i></span> Walking
					</label>

				</div>
                <div id="select_destination_area">
					<label>Destination: </label>
                    <div id="select_destination">
				        <select data-ng-model="directionsFormData.selectedDestination" 
				        data-ng-options="station.stationID as station.stationShortAddress for station in allStationsMapData" 
				        data-ng-change="selectDestination()" 
				        data-ng-init="directionsFormData.selectedDestination = '1'"></select>
			
                    </div>
         
				</div>

			</div><!--End input_area-->
			        <div class="form_divider">
	                    <input class="btn btn_blue btn_float_right" type="submit" value="Submit" />
	                </div>
  	            </form>

            </div>
        </div>
    </div>

    <div class="carousel_container right_container scrollable" 
    data-ng-class="{'move_container_to_centre': bottomPanelData.selectedMenuItem == '1'}" 
    data-ng-swipe-right="swipeBottomPanel('0')">

        <div class="inside_body_of_bottom_panel">

            <div data-ng-show="!checkIfDirectionsWereGenerated()">Please fill in the directions form first.</div>
            <div data-ng-show="checkIfDirectionsWereGenerated()">{{directionsData.directionsDetails.travelMode}} to {{directionsData.directionsDetails.stationName}}</div>
            <div id="directions_panel"></div>
        </div>

    </div>
    </div>




