<h2 data-ng-show="checkIfUserIsAdmin()">{{pageHeading}}</h2>
<p class="intro_paragraph" data-ng-show="checkIfLoggedIn()">{{introParagraph}}</p>

<div class="station_info_area">
<h3 class="station_name">{{stationDetails.stationName}}</h3>
<address>
{{stationDetails.stationAddressLine1}}<br>
{{stationDetails.stationAddressLine2}}<br>
{{stationDetails.stationAddressCity}}<br>
{{stationDetails.stationPhoneNumber}}<br>
</address>
</div>
	<!--use the novalidate attribute to disable the browser's native form validation-->
	<!--use the form name attribute to publish the form instance into the scope-->
	<form name="testimonial_form" id="testimonial_form" class="testimonial_form" data-ng-submit="submitTestimonial()" data-ng-model="testimonial_form" novalidate>
		<div class="form_divider">
			<!--use data-ng-model to bind the user input to our model and display it straight away below-->
					
			<label for="testimonial_text">Write your testmonial</label>	
	
			<textarea id="testimonial_text" name="testimonial_text" data-ng-model="testimonial.text" minlength="2" maxlength="2000" placeholder="Write your testimonial here..."  rows="2" required></textarea>
			<span class="feedback_icon">
		
				<i class="fa fa-check-circle"></i><!--we use a css class .ng-invalid.ng-touched (in index.css) to display the check symbol when user input is valid-->
				<i class="fa fa-times-circle"></i><!--and to display the X symbol when user input is invalid-->
			</span>
			<span class="character_count">{{2000 - testimonial.text.length}} characters remaining</span>


			<!--if the form is submitted or if the task name field is "touched" and is not filled in then we display an error message-->
			<div class="error_message" data-ng-show="testimonial_form.$submitted || (testimonial_form.testimonial_text.$touched && !(testimonial_form.testimonial_text.$untouched))">
      				<div data-ng-show="testimonial_form.testimonial_text.$error.required">Please fill in a task name.</div>
			
			</div>
		</div><!--/form_divider-->

	

		<!--use the ng-disabled attribute to prevent the form from submitting if it is invalid-->
		<input class="btn btn_blue btn_submit" type="submit" data-ng-disabled="testimonial_form.$invalid" value="Submit" />
	</form>

