

<!--A loading symbol will be shown to user before all of the station data is set into scope
    for a better user experience-->

<p class="loading" data-ng-show="dataIsSet === false">Loading...</p>

<!--ouput information on this station-->
<div id="station_info_area" data-ng-show="dataIsSet === true">
    <img class="station_image" src="images/petrol_station.jpg" width="515" height="337" />
    <h3 class="station_name">{{stationDetails.stationName}}</h3>
    <h4 class="station_header">Address:</h4>
    <address>
    {{stationDetails.stationAddressLine1}},<br>
    {{stationDetails.stationAddressLine2}},<br>
    {{stationDetails.stationAddressLine3}}<br>
    {{stationDetails.stationPhoneNumber}}<br>
    </address>
    <!--Each station will have a list of services-->
    <h4 class="station_header">Services:</h4>
    <!--<ul class="list_of_station_services">
        <li class="station_service_list_item">
            <p>Deli</p>
        </li>
        <li class="station_service_list_item">
            <p>Toilets</p>
        </li>
        <li class="station_service_list_item">
            <p>Tea & Coffee</p>
        </li>
        <li class="station_service_list_item">
            <p>Scones</p>
        </li>
        <li class="station_service_list_item">
            <p>Lotto</p>
        </li>

        <li class="station_service_list_item" data-ng-repeat="currentService in stationDetails.stationServices">
            <p>{{currentService.serviceName}}</p>
        </li>
    </ul>-->

    <p>Deli, Toilets, Tea & Coffee, Scones, Lotto.</p>
</div>

<!--wait til all the station data is set into scope before showing the following (so that the whole view shows at the same time)-->
<div id="station_reviews_area" data-ng-show="dataIsSet === true">
	<h3>User Reviews</h3>
    <!--if there are no reviews currently for this station then show the following message-->
	<p id="no_reviews_message" data-ng-show="!checkForReviews()">There are no reviews for this petrol station yet.</p>

    <!--only show the average_rating_area if the reviews array is populated for this station-->
    <div id="average_rating_area" data-ng-show="checkForReviews()">
	    <h4 id="average_rating_heading">Average Rating:</h4>
	    <div class="average_rating_star_area rating_star_area">
		    <span data-ng-repeat="currentStar in stationDetails.averageRatingData.ratingInStars">
			    <i class="fa {{currentStar.starClass}}"></i>
		    </span>
            <!--using ng-show we only show the plural of the word review (in the average rating seciton) if there are more than one reviews-->
		    <span class="number_of_ratings">
            (Based on {{stationDetails.averageRatingData.numberOfRatings}} review<span data-ng-show="stationDetails.averageRatingData.numberOfRatings > 1">s</span>)
            </span>
	    </div><!--/average_rating_star_area-->
    </div><!--/average_rating_area-->


	<!--detect whether current user has already written a review for this station and if not then show the following "write a review" button-->
	<div id="write_a_review_button_area">

        <p class="message_for_user" data-ng-class="(displayMessageForUser === true ? 'full_opacity' : '')" data-ng-show="displayMessageForUser === true">{{messageForUser}}</p>

        <div data-ng-show="displayWriteAReviewButton()">
        <!--on button click, call the writeAReview method which will set displayReviewForm to true if the user successfully logs in-->
        <p class="write_a_review_logged_in_as tiny_text"></p>
        <button id="write_a_review_button" class="btn btn_blue" data-ng-click="writeAReview()">
            <span>Write a review</span>
        </button>

     

        <p class="write_a_review_logged_in_as tiny_text" data-ng-show="checkIfLoggedIn()"><i>Logged in as: {{userDetails.facebookName}}</i></p>
        <p class="tiny_text write_a_review_note" data-ng-show="!checkIfLoggedIn()"><i>Note: If you choose to write a review, you will be asked to log in with Facebook.</i></p>

        </div>
    </div>

	<div id="write_a_review_form_area" data-ng-show="displayReviewForm && checkIfLoggedIn()">
        <h4>Write a review for this Petrol station:</h4>
        <p class="review_form_user_name">
            <span class="bold_text">Name:</span> {{userDetails.facebookName}}
        </p><!--/review_form_user_name-->

        <div class="review_form_rating">
            <span class="bold_text">Rating:</span> 

            <div class="review_form_stars">
                <!--use ng-repeat to display five stars so the user can click them to choose a rating. 
                    They will each have a class of either fa-star (full star) or fa-star-o (half star) 
                    depending on which one the users selects-->
                <span data-ng-repeat="i in [1,2,3,4,5]">
                    <i class="fa" 
                        data-ng-class="(reviewFormData.rating >= ($index + 1) ? 'fa-star' : 'fa-star-o')" 
                        data-ng-click="selectStar($index + 1)">
                    </i>
                </span>
        

                <!--When a user selects a rating, output the quantity of stars selected in text. 
                    Show the singular of "star" if one star is selected, and the plural if more than one is selected-->
                <span data-ng-show="reviewFormData.rating > 0">
                    {{reviewFormData.rating}} star<span data-ng-show="reviewFormData.rating > 1">s</span>
                    <span class="feedback_icon">
			            <i class="fa fa-check-circle"></i>
		            </span>
                </span>

                <!--output error to the user if the form is submitted but no rating has been selected i.e the rating value is still 0-->         
                <span data-ng-show="review_form.$submitted && reviewFormData.rating === 0">
      		        <span class="red_text">Rating is required.</span>
                    <span class="feedback_icon">
			            <i class="fa fa-times-circle"></i>
		            </span>
		        </span>
            </div><!--/review_form_stars-->
        </div><!--/review_form_rating-->
        <!--use the novalidate attribute to disable the browser's native form validation-->
        <!--use the form name attribute to publish the form instance into the scope-->
        <form name="review_form" data-ng-submit="submitReview(stationDetails.stationID)" data-ng-model="review_form" novalidate>

	        <div class="form_divider">
		        <label for="review_text_area" class="bold_text">Review text:</label>	
		        <textarea name="review_text_area" data-ng-model="reviewFormData.text" maxlength="2000" placeholder="Write your review here..."  rows="4" required></textarea>
                 <!--Display the tick (fa-check-circle) symbol when there are more than 9 characters in the textarea
                 and also tell the user how many characters are remaining-->
                <div class="character_count_container">
                    <span data-ng-show="reviewFormData.text.length >= 10">
                        <span class="feedback_icon under_textarea">
			                <i class="fa fa-check-circle"></i>
		                </span>
		                <span class="character_count">{{2000 - reviewFormData.text.length}} characters remaining</span>
                    </span>  

                    <!--Display the X (fa-times-circle) symbol when there are less than 10 characters in the textarea-->
                    <span data-ng-show="reviewFormData.text.length < 10">
                        <span class="feedback_icon under_textarea">
			                <i class="fa fa-times-circle"></i>
		                </span>
		                <span class="character_count">
		                    You need {{10 - reviewFormData.text.length}} more character<span data-ng-show="reviewFormData.text.length !== 9">s</span>
		                </span>
                    </span>  
                </div><!--/character_count_container-->

		        <!--if the form is submitted or if the reviewFormData.text is "undefined" then we display an error message-->
		        <div class="error_message" data-ng-show="reviewFormData.text == null && review_form.$submitted ">
		        
      		        <span data-ng-show="review_form.review_text_area.$error.required">Review text is required.</span>
		        </div>
	        </div><!--/form_divider-->

            <div class="form_divider">
	            <input class="btn btn_blue btn_float_right" type="submit" value="Submit" />
                <!--need to use a span tag instead of button tag for the following otherwise angular will think its a form submission-->
                <span class="btn btn_white btn_float_right btn_cancel" data-ng-click="cancelWriteAReview()" >Cancel</span>
	        </div>
        </form>
    </div><!--/write_a_review_form_area-->

    <!--Each station will have a list of reviews-->
	<ul id="list_of_station_reviews">
		<!--Loop through the reviews for this station with ng-repeat-->
		<li class="station_review" data-ng-repeat="currentReview in stationDetails.reviews">
            <div class="main_user_review" >
                <div>
                    <span class="profile_pic_thumbnail">
                        <img src="{{currentReview.reviewUserData.profilePicURL}}" width="70" height="70" />
                    </span>
                    <p class="user_name">{{currentReview.reviewUserData.facebookName}}</p>
                    <p class="date_of_review_or_reply">{{currentReview.reviewTime}}</p>
                    <!--an edit button will be shown for editing the review if the current user is the creator of the review.
                        create an input with type button for the edit review button so that we can add ng-disabled and disable the button
                        when the review is currently in a state of being edited-->
                    <input type="button" class="edit_button review_area_button" 
                        data-ng-click="displayEditReviewForm($index, currentReview.reviewRating, currentReview.originalReviewText)" 
                        data-ng-disabled="selectedReviewForEdit === $index" 
                        data-ng-show="checkForUserPrivileges(currentReview.reviewUserData.userID)" value="&#xf040;" >
                    <!--a delete button will be shown for deleting the review if the current user is the creator of the review or an administrator-->
                    <!--We wont add an ng-disabled to the delete review button as the user should be able to still delete the review
                    if it is in a state of edit-->
                    <button type="button" class="delete_button review_area_button" 
                        data-ng-click="deleteReview(currentReview.reviewID, stationDetails.stationID)" 
                        data-ng-show="checkForHigherUserPrivileges(currentReview.reviewUserData.userID)">
                        <i class="fa fa-times"></i>
                    </button>

                </div>
                <!--If this review has been selected for editing then we dont want to show this next div-->
                <div id="rating_and_review_text_area" data-ng-show="selectedReviewForEdit !== $index">
	                <div class="rating_star_area">
				        <span data-ng-repeat="currentStar in currentReview.ratingInStars">
				            <i class="fa {{currentStar.starClass}}"></i>
				        </span>
			        </div>
                    <!--Use ng-bind-html to sanitize the data. htmlentities has been used on the server side before sending here anyway-->
                    <p class="review_text" data-ng-bind-html="currentReview.reviewText"></p>
                </div>

                <!--Show the following div If this review has been selected for editing-->
                <div id="edit_review_form_area" data-ng-show="selectedReviewForEdit === $index">
                    <div class="review_form_rating">
                        <span class="bold_text">Rating:</span> 

                        <div class="review_form_stars">
                            <!--use ng-repeat to display five stars so the user can click them to choose a rating. 
                                They will each have a class of either fa-star (full star) or fa-star-o (half star) 
                                depending on which one the users selects-->
                            <span data-ng-repeat="i in [1,2,3,4,5]">
                                <i class="fa" 
                                    data-ng-class="(editReviewFormData[$parent.$index].rating >= ($index + 1) ? 'fa-star' : 'fa-star-o')" 
                                    data-ng-click="selectStarForEdit($parent.$index, $index + 1)">
                                </i>
                            </span>
                            <!--When a user selects a rating, output the quantity of stars selected in text. 
                            Show the singular of "star" if one star is selected, and the plural if more than one is selected-->
                            <span data-ng-show="editReviewFormData[$index].rating > 0">
                                {{editReviewFormData[$index].rating}} star<span data-ng-show="editReviewFormData[$index].rating > 1">s</span>
                                <span class="feedback_icon">
                                   <i class="fa fa-check-circle"></i>
                                </span>
                            </span>
                        </div><!--/review_form_stars-->

                    </div><!--/review_form_rating-->
                    <!--use the novalidate attribute to disable the browser's native form validation-->
                    <!--use the form name attribute to publish the form instance into the scope-->
                    <form name="edit_review_form" 
                        data-ng-submit="submitEditedReview($index, currentReview.reviewID, stationDetails.stationID)" 
                        data-ng-model="edit_review_form" novalidate>

                        <div class="form_divider">
                            <label for="edit_review_text" class="bold_text">Review text:</label> 
                            <textarea id="edit_review_text" name="edit_review_text" 
                                data-ng-model="editReviewFormData[$index].text" maxlength="2000" placeholder="Write your review here..." rows="4" required>
                            </textarea>
                            <!--Display the tick (fa-check-circle) symbol when there are more than 9 characters in the textarea
                             and also tell the user how many characters are remaining-->
                            <div class="character_count_container">
                                <span data-ng-show="editReviewFormData[$index].text.length >= 10">
                                    <span class="feedback_icon under_textarea">
                                        <i class="fa fa-check-circle"></i>
                                    </span>
                                    <span class="character_count">{{2000 - editReviewFormData[$index].text.length}} characters remaining</span>
                                </span>  

                                <!--Display the X (fa-times-circle) symbol when there are less than 10 characters in the textarea-->
                                <span data-ng-show="editReviewFormData[$index].text.length < 10">
                                    <span class="feedback_icon under_textarea">
                                         <i class="fa fa-times-circle"></i>
                                    </span>
                                    <span class="character_count">
                                         You need {{10 - editReviewFormData[$index].text.length}} more character<span data-ng-show="editReviewFormData[$index].text.length !== 9">s</span>
                                    </span>
                                </span>  
                            </div><!--/character_count_container-->

                            <!--if the form is submitted or if the edit_review_text textarea is "touched" and is not filled in then we display an error message-->
                            <div class="error_message" 
                                data-ng-show="edit_review_form.$submitted && (edit_review_form.edit_review_text.$touched && !(edit_review_form.edit_review_text.$untouched))">
                
                                <span data-ng-show="edit_review_form.edit_review_text.$error.required">Review text is required.</span>
                            </div>
                        </div><!--/form_divider-->

                        <div class="form_divider">
                            <input class="btn btn_blue btn_float_right" type="submit" value="Submit edit" />
                            <!--need to use a span tag instead of button tag for the following otherwise angular will think its a form submission-->
                            <span class="btn btn_white btn_float_right btn_cancel" data-ng-click="cancelReviewEdit($index)" >Cancel</span>
                        </div>
                    </form><!--/edit_review_form-->
                </div><!--/edit_review_form_area-->
            </div><!--/main_user_review-->

            <!--Each main_user_review will have a list of replies.-->
            <ul class="list_of_replies">
                <li class="review_reply" data-ng-repeat="currentReply in currentReview.replies">
                    <div class="user_profile_area">
                        <span class="profile_pic_thumbnail">
                            <img src="{{currentReply.replyUserData.profilePicURL}}" width="70" height="70" />
                        </span>
                        <p class="user_name">{{currentReply.replyUserData.facebookName}}</p>
                        <p class="date_of_review_or_reply">{{currentReply.replyTime}}</p>

                        <!--an edit button will be shown for editing the reply if the current user is the creator of the reply-->
                        <!--create an input with type button for the edit reply button so that we can add ng-disabled and disable the button
                         when the reply is currently in a state of being edited-->
                        <input type="button" class="edit_button review_area_button" 
                            data-ng-click="displayEditReplyForm($parent.$index, $index, currentReply.originalReplyText)" 
                            data-ng-disabled="selectedReplyEditForms[$parent.$index] === $index"  
                            data-ng-show="checkForUserPrivileges(currentReply.replyUserData.userID)" value="&#xf040;" >
                        <!--a delete button will be shown for deleting the reply if the current user is the creator of the reply or an administrator-->
                        <button type="button" class="delete_button review_area_button" 
                            data-ng-click="deleteReply(currentReply.replyID, currentReview.reviewID, $parent.$index)" 
                            data-ng-show="checkForHigherUserPrivileges(currentReply.replyUserData.userID)">
                            <i class="fa fa-times"></i>
                        </button>

                    </div>
                    <!--use ng-bind-html to display the html properly within the replyText-->
                    <p class="reply_text"  data-ng-show="selectedReplyEditForms[$parent.$index] !== $index" data-ng-bind-html="currentReply.replyText"></p>
                    <!--show the edit_reply_form if this reply has been selected for editing with the edit_button above.-->
                    <div class="edit_reply_form_area" data-ng-show="selectedReplyEditForms[$parent.$index] === $index">
                        <form name="edit_reply_form" 
                        data-ng-submit="submitEditedReply(currentReply.replyID, currentReview.reviewID, $parent.$index, $index)" 
                        data-ng-model="edit_reply_form" novalidate>

                        <div class="form_divider">
                    
                            <textarea name="edit_reply_text" data-ng-model="editReplyFormData[$parent.$index][$index].text" maxlength="2000" rows="3" required></textarea>
                            <!--Display a tick (fa-check-circle) symbol and a message to say how many characters are left out of 2000-->
                            <div class="character_count_container">
                                <span data-ng-show="editReplyFormData[$parent.$index][$index].text.length >= 5">
                                    <span class="feedback_icon under_textarea">
                                        <i class="fa fa-check-circle"></i>
                                    </span>
                                    <span class="character_count">{{2000 - editReplyFormData[$parent.$index][$index].text.length}} characters remaining</span>
                                </span>  

                                <!--Display the X (fa-times-circle) symbol when there are less than 5 characters in the textarea-->
                                <span data-ng-show="editReplyFormData[$parent.$index][$index].text.length < 5">
                                    <span class="feedback_icon under_textarea">
                                         <i class="fa fa-times-circle"></i>
                                    </span>
                                    <span class="character_count">
                                         You need {{5 - editReplyFormData[$parent.$index][$index].text.length}} more character<span data-ng-show="editReplyFormData[$parent.$index][$index].text.length !== 4">s</span>
                                    </span>
                                </span>  
                            </div><!--/character_count_container-->
                        </div><!--/form_divider-->

                        <div class="form_divider">
                            <input class="btn btn_blue btn_float_right" type="submit" value="Submit edit" />
                            <!--pass in the index of the current review to the cancelReplyEdit method so we can hide the edit form again-->
                            <!--also we need to use a span tag instead of button tag for the cancel button otherwise angular will think its a form submission-->
                            <span class="btn btn_white btn_float_right btn_cancel" data-ng-click="cancelReplyEdit($parent.$index)" >Cancel</span>                   
                        </div>
                        </form><!--/edit_reply_form-->
                    </div>
                </li><!--/review_reply-->

                <!--The following is the reply form for the current review-->
                <!--Only the user who created the review and an administrator can reply so we need to detect if the current 
                user is either of the two before showing the following list item.-->
                <!--also we are now outside of the currentReview.replies ng-repeat loop so the index will correspond to the currentReview in the station.Details.reviews loop-->
                <li class="reply_form_area" data-ng-show="checkForHigherUserPrivileges(currentReview.reviewUserData.userID)">

                    <form name="reply_form" data-ng-submit="submitReply($index, currentReview.reviewID)" data-ng-model="reply_form" novalidate>

                        <div class="form_divider">
                            <!--as there will be one reply form per review we need to create a unique ng-model for each of them so we create an array called 
                            replyFormData and pass in the index of the currentReview--> 
                            <textarea name="reply_text" data-ng-model="replyFormData[$index].text" maxlength="2000" placeholder="Write your reply here..."  rows="2" required></textarea>
                    
                            <div class="character_count_container">
                                <!--Display a tick (fa-check-circle) symbol and a message to say how many characters are left out of 2000-->
                                <span data-ng-show="replyFormData[$index].text.length >= 5">
                                    <span class="feedback_icon under_textarea">
                                        <i class="fa fa-check-circle"></i>
                                    </span>
                                    <span class="character_count">{{2000 - replyFormData[$index].text.length}} characters remaining</span>
                                </span>  

                                <!--Display the X (fa-times-circle) symbol and an error message when there are less than 5 characters in the textarea-->
                                <span data-ng-show="replyFormData[$index].text.length < 5">
                                    <span class="feedback_icon under_textarea">
                                         <i class="fa fa-times-circle"></i>
                                    </span>
                                    <span class="character_count">
                                         You need {{5 - replyFormData[$index].text.length}} more character<span data-ng-show="replyFormData[$index].text.length !== 4">s</span>
                                    </span>
                                </span>  
                            </div><!--/character_count_container-->
                        </div><!--/form_divider-->

                        <div class="form_divider">
                            <!--we dont need a cancel button because the form will always be displayed anyway (for users with the right permissions)-->
                            <input class="btn btn_blue btn_float_right" type="submit" value="Reply" />
                       </div>
                    </form><!--/reply_form-->
                </li><!--/reply_form_area-->

            </ul><!--/list_of_replies-->
        </li><!--/station_review-->
    </ul><!--/list_of_station_reviews-->
</div><!--/station_reviews_area-->

